.cover {
    padding: 18px 0 0 ;
    max-width: 1184px;
    height: 62.5%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1200px) {
    .cover {
        padding: 92px 0 0 0;
    }
}
@media screen and (max-width: 880px) {
    .cover {
        padding-top: 90px;
    }
}
@media screen and (max-width: 550px) {
    .cover {
        padding-top: 66px;
    }
}